body{
    margin: 0;
}

.container{
    display: flex;
    gap: 24px;
    border: 1px solid black;
    height: 300vh;
}

.item {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
absolute  - position related to parent component
relative - position related to its position
static - default based on the document object modal
fixed - position related to browser
static - relative + fixed -> 
        initially it behaves like relative once it is reached to top or left or right or bottom then it behave like fixed 
*/

#item3{
    position: sticky;
    right: 10px;
    top: 40px;

}