body {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(6, 1fr);

  /* grid-template-areas:
    "header header header header header header"
    "nav aside aside aside aside aside"
    "footer footer footer footer footer footer"; */
  grid-template-rows: 70px auto 50px;
}

header {
  /* grid-area: header; */
  grid-column: 1/7;
  background-color: rgb(49, 49, 214);
}

nav {
  /* grid-area: nav; */
  grid-column: 1/2;
  background-color: rgb(102, 102, 230);
}

aside {
  /* grid-area: aside; */
  grid-column: 2/7;
  background-color: rgb(154, 154, 224);
}

footer {
  /* grid-area: footer; */
  grid-column: 1/7;
  background-color: rgb(49, 49, 214);
}
